extends layout

block content 

    h1 #{err.status} Internal Server Error
    p We are experiencing difficulty to proccess your request 
    img(src="https://media1.giphy.com/media/2zdnl4CB3OygOHe1kX/giphy.gif?cid=ecf05e4773ozequ34zzyc0ddjp8ekino6yme1xigf2v48c6i&rid=giphy.gif&ct=g")
    p 
        a(class="button" href="/") Home