extends layout

block content 

    h1 Page Not Found
    p #{err.message}
    img(src="https://media0.giphy.com/media/sRKgdVOw6qEwDAbJR1/giphy.gif?cid=ecf05e4759wd7idpet0tbpq4dr9fiwlol43npuq9fby9vxtq&rid=giphy.gif&ct=g")
    p 
        a(class="button" href="/") Home